@import url('lib/font.css');

body
{
    background-color: black;
}

#corner-img
{
    width: 100px;
}

#main-contents
{
    margin-top: -5px;
    margin-left: 50px;
}

#im-w
{
    color:white;
    display: inline;
    font-size: 70px;
    font-family: 'Oxanium', sans-serif;
}

#astro-w
{
    color: #00A3FF;
    display: inline;
    font-size: 70px;
    font-family: 'Oxanium', sans-serif;
}

#intro
{
    margin-top: -10px;
    width: 500px;
}

.plain-text
{
    text-align: left;
    color: white;
    font-family: 'Oxanium', sans-serif;
    font-size: 20px;
    width: 50%;
}

#lt
{
    margin-bottom: 0px;
}

#langs
{
    list-style-type: none;
    padding: 0;
}

.js
{
    border-radius: 10px;
}

#langs li
{
    display: inline;
}

#langs li img
{
    width: 40px;
    margin-right: 15px;
}

.title
{
    text-align: left;
    color: white;
    font-family: 'Oxanium', sans-serif;
    font-size: 25px;
    width: 500px;
    font-weight: bold;
    background-color: #36AFFF;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: fit-content;
    margin-top: 5px;
}


#projects
{
    list-style-type: none;
    padding: 0;
    margin-top: -5px;
}

#projects li
{
    display: inline;
}


#projects li img
{
    width: 400px;
    margin-right: 15px;
    transition: 0.2s;
}

#projects li img:hover
{
    transform: scale(1.05);
}

#am
{
    margin-top: -15px;
}

#sm-btn
{
    margin-top: -10px;
    width: 150px;
    margin-right: 20px;
}

#contact-btn
{
    margin-top: -10px;
    width: 150px;
}